[package]
name = "ygege"
version = "0.5.0"
edition = "2024"

[dependencies]
actix-web = "4"
log = "0.4"
pretty_env_logger = "0.5"
qstring = "0.7.2"
wreq = { version = "5.3.0", features = ["zstd", "json", "cookies"] }
wreq-util = "2.2.6"
scraper = "0.24"
serde = "1.0"
serde_json = "1.0.140"
tokio = { version = "1.48.0", features = ["rt", "macros", "rt-multi-thread"] }
trust-dns-resolver = "0.23"
serde_bencode = "0.2.4"
sha1 = "0.10.6"
chrono = "0.4"
futures = "0.3"
urlencoding = "2.1"

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
strip = true
